.button {
	background-color: $button-bg;
	border: none;
	color: $button-color;
	cursor: pointer;
	font-size: $base-font-size;
	margin-bottom: $space;
	padding: $input-spacing;
	text-transform: uppercase;
	// line-height: 1.2;
}

.button:hover {
	background-color: tint($button-hover, 25%);
	color: white;
}

.button-link {
	display: inline-block;
	text-decoration: none;
}

.button-pill {
	background-color: transparent;
	border: 1px solid $button-pill-color;
	color: $button-pill-color;
	margin: 0 ($space / 4);
	padding: 0.3rem 0.8rem;
}

.button-secondary {
	background: $button-secondary-bg;
	color: $button-secondary-color;
	border: 1px solid $button-secondary-border-color;
	flex-basis: 40%;
	margin-left: 10px;
	margin-right: 10px;
}

.button-secondary:hover {
	background-color: shade($button-hover, 25%);
	color: white;
}

.icon-left {
	margin-right: $space;
	font-size: $middle-font-size;
}

.icon-right {
	margin-left: $space;
	font-size: $middle-font-size;
}

.icon-large {
	font-size: $large-font-size;
}

.button-white {
	color: white;
}

.button-sidebarHeader {
	@extend .button;
	@extend .button-secondary;
	padding: 0px;
}

.dropdown-newitem {
	background: $color-secondary;
	font-style: italic;
	font-size: $base-font-size;
}

.createGame-button {
	@extend .button;
	width: 100%;
}
