.coach-div {
	height: $coach-div-height;
	overflow: auto;
}

.coach-box {
	background-color: $boxedView-bg;
	border: 1px solid $boxedView-border-color;
	padding: 2.4rem;
	text-align: center;
	width: $coach-div-width;
	min-width: 25rem;
}

.coach-hidden {
	display: none;
}

.coach-sub-div {
	border: 2px solid $color-background;
	display: flex;
	flex-direction: column;
	margin: 25px;
	padding: 25px;
}

.coach-sub-div-title {
	border-bottom: 1px solid $color-primary;
	margin: 0px auto 25px auto;
	padding-bottom: 5px;
	width: 50%;
}

.memberList-div {
	border: 2px solid $color-background;
	height: 300px;
	overflow: auto;
	overflow-x: hidden;
	margin-bottom: 20px;
}

.memberList {
	padding-top: 0px;
}

.memberList-header {
	display: flex;
	justify-content: center;
	background-color: white;
	border-bottom: 1px solid $color-primary;
	font-size: $base-font-size;
	padding-top: 8px;
	text-align: center;
}

.memberList-item {
	border: 1px solid $grey;
	font-size: $base-font-size;
	margin: 10px;
	width: auto;
}

.memberList-item-empty {
	@extend .memberList-item;
	background-color: $grey;
}

.memberList-item-text {
	font-size: $base-font-size;
}

.acceptRequest {
	color: green !important;
}

.rejectRequest {
	color: red !important;
}

.deleteMember {
	color: black !important;
}

.coachCheck {
	color: blue !important;
}

.createGame-type {
	margin: 15px;
}

.create-modal-title {
	font-size: $large-font-size;
}
