.find-team-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.addTeam-button {
	flex-basis: 10%;
	margin: 0px;
}

.addTeam-modal-div {
	text-align: center;
	position: absolute;
	width: $team-modal-width;
	height: $team-modal-height;
	background-color: white;
	border: solid 5px $color-primary;
	top: calc((100vh - #{$team-modal-height}) / 2);
	left: calc((100vw - #{$team-modal-width}) / 2);
	padding: $space calc(#{$space} * 3);
	flex-direction: column;
}

.createTeam-div {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.addTeam-title {
	// border-bottom: 3px solid $color-primary;
	font-size: $middle-font-size;
	padding: $space;
	text-decoration: underline;
}

.addTeam-modal-button-label {
	font-size: $small-font-size;
}

.addTeamItem {
	margin: 0px;
}

.addTeamItem-button {
	// border: 1px solid $color-default;
	padding: 0px;
	margin: 0px;
	width: 48px;
}

.existingTeam-div {
	border-bottom: 5px $color-primary solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.existingTeam-div-sub {
	display: flex;
	flex-direction: row;
	width: 85%;
	padding: 10px;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.existingTeam-searchResults-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.existingTeam-searchResults {
}

.createTeam-create-div {
	display: flex;
	flex-direction: column;
}

.existingTeam-input-label {
	font-size: $small-font-size;

	@include desktop() {
		font-size: $base-font-size;
	}
}

.existingTeam-input-field {
	font-size: $small-font-size !important;
	border: none !important;
	line-height: 2rem;
	padding: 0 !important;
	margin: 1rem !important;

	@include desktop() {
		font-size: $base-font-size !important;
	}
}

.teamMenu-item {
	display: flex;
	justify-content: space-between;
	width: 25rem;
}

.teamMenu-team {
	// font-size: $base-font-size;
	width: 100%;
}

.addMember-modal-div {
	@extend .addTeam-modal-div;
	height: $team-modal-height;
	width: $team-modal-width / 2;
	top: calc((100vh - #{$team-modal-height}) / 2);
	left: calc((100vw - #{$team-modal-width / 2}) / 2);
}

.addMember-title {
	@extend .addTeam-title;
}

.addMember-memberInfo-div {
	@extend .existingTeam-div-sub;
	flex-direction: column;
	margin: 0px;
	width: 100%;
}

.addMember-memberInfo-field {
	margin: 10px;
}

.addMember-button {
	// border: 1px solid $color-default;
	// padding: 0px;
	// margin: 10px;
	// width: 48px;
	@extend .button;
	margin: $space;
}

.addMember-button-label {
	font-size: $small-font-size;
}

.coachedTeam {
	color: red;
}

.teamSearch {
	padding: 10px;
	width: 85%;
}

.saved {
	color: green;
	opacity: 0;
	overflow: hidden;
	border-radius: 3px;
	margin: 0;
	padding: 10px;

	transition: all 0.75s ease-in-out;
}

.saved-visible {
	opacity: 1;
}

.teamMenu {
	width: 25rem;
}

.teamMenu-button {
	@extend .button-sidebarHeader;
	padding: 10px;
	flex-basis: 80%;
	margin: 0px 10px;
	width: 25rem;
}
